html, body {
    margin: 0 auto;
}

header {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #4a19db;
}

h1 {
    margin: 2px;
    color: #fff;
    font-family: sans-serif;
    font-size: 28px;
    text-align: right;
    padding-right: 350px;
}

h2 {
    font-family: sans-serif;
    font-size: 22px;
}

h3 {
    font-family: sans-serif;
    font-size: 23px;
    margin-top: 3px;
    margin-bottom: 7px;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 8px;
    padding-right: 30px;
}

.forecast {
    flex-direction: column;
    justify-content: start;
    padding-left: 40px;
}

#forecast-container {
    display: flex;

}

.five-day-weather {
    width: 11rem;
    margin: 5px;
    border: 2px solid #000;
}